<!DOCTYPE html> 
<html> 
<head> 
  <title>{{page.title}}</title> 
  <link href="/css/960.css" media="screen" rel="stylesheet" type="text/css"/> 
  <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css"/> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> 
  <script type="text/javascript" src="/js/fancyzoom.js"></script> 
</head> 
<body style="background: #111"> 
  
  <header id="site" class="group"> 
    <div class="container_10 group"> 
      <h1 class="grid_3"><a href="/">Benjamin Silas Rhodes</a></h1> 
      <nav class="grid_4"> 
        <ul> 
          <li><a href="/about.html">About</a></li> 
          <li><a href="/distractions.html">Distractions</a></li> 
          <li><a href="/projects.html" class="last">Projects</a></li> 
        </ul> 
      </nav> 
    </div> 
  </header> 


  <div style="background: #fff" class="group"> 
    <br class="clear"/>
    {{content}}
    <br class="clear"/>
  </div>
 
  <div id="cap" class="group"> 
    <div class="container_10 group"> 
      <div class="grid_3"> 
        &nbsp;
      </div> 
    </div> 
  </div> 
  
  <footer id="site" class="group"> 
    <div class="container_10 group"> 
      <div class="grid_3"> 
        <div class="distractions"> 
          <h4>Distractions</h4> 
          
            <div class="distraction"> 
              <span class="posted">
                <a href="/distractions/Humble-Indie-Bundle">month ago</a>: 
              </span> 
              I wanted to post this to get as much attention on this project as possible.  Good games, good cause.  Go donate!
              <a href="http://www.humblebundle.com/" style="text-decoration: none">link</a> 
            </div> 
        </div> 
    </div> 

    <div class="grid_4"> 
      <div class="projects"> 
        <h4>Projects</h4> 
        <a href="/projects" class="read_more"> Read more</a> 
      </div>

      <div class="about"> 
        <h4>About</h4> 
        This site is my personal play toy on the internet. I like to develop strange new things on this site. 
        <a href="/about" class="read_more"> Read more</a> 
      </div>

      <div class="reading group"> 
        <h4> Currently Reading </h4> 
  
        <div style="float: left; width: 190px;"> 
        <em>Programing Clojure</em><br/> 
          Stuart Halloway
        </div> 
        <img src="/assets/4c0af40b1768b9646f000001-100x130" style="border: 5px solid #2f2f2f;" alt="Programing Clojure by Stuart Halloway"/> 
  
      </div>  
    </div> 

    <div class="grid_3"> 
      <div class="inspiration"> 
        <h4>Inspiration</h4> 
        <a href="http://www.ted.com/talks/denis_dutton_a_darwinian_theory_of_beauty.html">Denis Dutton: A Darwinian theory of beauty</a> 
      </div> 
      <div class="bookmarks"> 
        <h4> Delicious Bookmarks</h4> 
        <ul id="delicious"></ul> 
      </div> 
    </div> 
  </div> 
</footer> 
<div id="endcap" class="group"> 
  <div class="container_10 group"> 
    <div class="grid_3"> 
      2010 Benjamin Silas Rhodes
    </div> 
  </div> 
</div> 
</body> 
</html>
