<!DOCTYPE html> 
<html> 
<head> 
  <title>{{page.title}}</title> 
  <link href="/css/960.css" media="screen" rel="stylesheet" type="text/css"/> 
  <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css"/> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script> 
  <script type="text/javascript" src="/js/fancyzoom.js"></script> 
</head> 
<body style="background: #111"> 
  
  <header id="site" class="group"> 
    <div class="container_10 group"> 
      <h1 class="grid_3"><a href="/">Benjamin Silas Rhodes</a></h1> 
      <nav class="grid_4"> 
        <ul> 
          <li><a href="/about.html">About</a></li> 
          <li><a href="/distractions.html">Distractions</a></li> 
          <li><a href="/projects.html" class="last">Projects</a></li> 
        </ul> 
      </nav> 
    </div> 
  </header> 


  <div style="background: #fff" class="group"> 
    <br class="clear"/>
    {{content}}
    <br class="clear"/>
  </div>
 
  <div id="cap" class="group"> 
    <div class="container_10 group"> 
      <div class="grid_3"> 
        &nbsp;
      </div> 
    </div> 
  </div> 
  
  <footer id="site" class="group"> 
    <div class="container_10 group"> 
      <div class="grid_3"> 
        <div class="distractions"> 
          <h4>Distractions</h4> 

          <div class="distraction">
            <a href="http://www.joelonsoftware.com/articles/FogCreekMBACurriculum.html">Reading List: Fog Creek Software Managment Training Program</a>
          </div>
          
          <div class="distraction">
            <a href="http://www.ted.com/talks/lang/eng/ken_robinson_changing_education_paradigms.html">Ken Robinson: Changing education paradigms</a>
          </div>

          <div class="distraction">
            <a href="http://www.ted.com/talks/thomas_thwaites_how_i_built_a_toaster_from_scratch.html">Thomas Thwaites: How I build a toaster</a>
          </div> 

          <div class="distraction">
            <a href="http://itunes.apple.com/podcast/global-trance-grooves-john/id301295540">Global Trances Grooves Podcast</a>
          </div>

          <div class="distraction">
            <a href="http://discovertrance.com">Discover Trance Raido</a>
          </div>

          <div class="distraction">
            <a href="http://www.youtube.com/user/HuskyStarcraft">Husky Starcraft</a>
          </div>

          <div class="distraction">
            <a href="http://coderloop.com/">Coderloop</a>
          </div>

          <div class="distraction">
            <a href="http://dribbble.com/">Dribbble</a>
          </div>

          <div class="distraction">
            <a href="http://day9tv.blip.tv/">Day9tv</a>
          </div>
          
          <div class="distraction">
            <a href="http://ww.reddit.com/">Reddit</a>
          </div>

          <div class="distraction">
            <a href="http://www.ted.com/">Ted</a>
          </div>
        </div> 
    </div> 

    <div class="grid_4"> 
      
      <div class="about"> 
        <h4>About</h4> 
        This site is where I keep my notes.  I try to post the things that frustrate me and inspire me. 
        <a href="/about.html" class="read_more"> Read more</a> 
      </div>

      <div class="projects"> 
        <h4>Currently Working On</h4> 
        Private self cleaning read it laters, delivered.
        <a href="http://readingtime.me/" class="read_more">http://readingtime.me</a> 
      </div>


      <div class="reading group"> 
        <h4>Currently Reading</h4> 
  
        <div style="float: left; width: 190px;"> 
        <em>Programing Clojure</em><br/> 
          Stuart Halloway
        </div> 
        <img src="/images/books/clojure.png" style="border: 5px solid #2f2f2f;" alt="Programing Clojure by Stuart Halloway"/> 
      </div>  
    </div> 

    <div class="grid_3"> 
      <div class="inspiration"> 
        <h4>Inspiration</h4> 
        <a href="http://www.ted.com/talks/denis_dutton_a_darwinian_theory_of_beauty.html">Denis Dutton: A Darwinian theory of beauty</a> 
      </div> 
      <div class="bookmarks"> 
        <h4>Stuff I Just Read</h4> 
        <ul id="readingtime"></ul>
        <p>Share what you are reading at: <a href="http://readingtime.me">readingtime.me</a></p>
      </div> 
    </div> 
  </div> 
</footer> 
<div id="endcap" class="group"> 
  <div class="container_10 group"> 
    <div class="grid_3"> 
      2010 Benjamin Silas Rhodes
    </div> 
  </div> 
</div> 
<script>
$(function() {
  var limit = 5;
  $.getJSON("http://readingtime.me/readers/4d43741f85cd402d2a000002/read.json?callback=?&limit=" + limit, function(data) {
    for(var i = 0; i < limit; i++) {
      $('<li><a href="' + data[i].url + '">' + data[i].url + '</a></li>').appendTo("#readingtime");
    }
  });
});
</script>
</body> 
</html>
